
modules = ["dotnet-7.0"]
run = "cd Lista-de-Exercicios-09-cs-basico && dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd Lista-de-Exercicios-09-cs-basico && dotnet run"]
